main {
	display: flex;
	flex-direction: column;
}
main a {
	align-self: start;
	margin: var(--margin) var(--margin) calc(var(--margin) * 3);
	font-size: clamp(.6rem, calc(.5rem + 1vw), 1rem);
}

.job {
	display: flex;
	flex-direction: column;

	box-shadow: 0 0 10px #ddd;
	border-radius: 8px;
	max-width: 450px;
	margin: 0 auto;
	padding: 20px;
}
.job img {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	align-self: center;
	border: 2px solid white;
	box-shadow: 0 0 3px #ddd;
}
.job h2 {
	text-align: center;
	font-size: clamp(1rem, calc(.9rem + 2vw), 2rem);
	color: var(--font-color);
	margin-top: var(--margin);
}
.job ul {
	display: flex;
	flex-direction: column;
	gap: calc(var(--margin) * 2);
	margin-top: calc(var(--margin) * 3);
}
.job ul li {
	text-align: center;
}
.job ul li:not(:last-child) {
	display: flex;
	flex-direction: column;
}
.job ul li a {
	color: red;
}